Personal AI Internship Applier.json
{
  "name": "Personal AI Internship Applier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 12
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1vVIZ7ug6iPjTGM1n1qSchBS_6gMWcUhCU4JWC-16YUk",
          "mode": "list",
          "cachedResultName": "Job Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vVIZ7ug6iPjTGM1n1qSchBS_6gMWcUhCU4JWC-16YUk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1vVIZ7ug6iPjTGM1n1qSchBS_6gMWcUhCU4JWC-16YUk/edit#gid=0",
          "__regex": "https:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/[0-9a-zA-Z\\-_]+.*\\#gid=([0-9]+)"
        },
        "includeInOutput": "both",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -64
      ],
      "id": "7b6f4f2f-49ca-4d1a-b006-9a28338f153b",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "MtoJgkAFHF4zey9K",
          "name": "Google Sheets Trigger account 2770"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B.Tech student applying for a software development internship.\nGiven your name, the internship role you're applying for, and optionally your Details, experience, and skills — write a short, polite, confident and ready-to-send email introducing yourself and expressing interest in the internship opportunity.\nKeep the tone enthusiastic but formal. Mention that you're eager to learn and contribute, and that you're looking forward to hearing back. End the email with a thank you and your name.\nUse \"Dear Hiring Manager\" as the greeting. Do not include any placeholder text, brackets, or variables that need to be filled in. The email should be complete and ready to send as-is.\nHere is your information:\nName:  {{ $json['Full Name'] }}\nto:  {{ $json.Email }}\nInternship Role:  {{ $json['Position Applied'] }}\nDetails:  {{ $json.Details }}\nExperience:  {{ $json['Experience (Years)'] }}\nSkills:{{ $json.Skills }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -240,
        -64
      ],
      "id": "e191ef71-3ae0-4157-a9cc-10306ed5610d",
      "name": "Internship Feeder"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -232,
        160
      ],
      "id": "df3030df-dde4-4170-94fc-52ae14b321d0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "7FD5NRRqEOdmyVbE",
          "name": "Google Gemini(PaLM) Api account 6961"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"to\": \"hr@examplecompany.com\",\n  \"subject\": \"Application for Frontend Developer Internship\",\n  \"body\": \"Dear HR Team,\\n\\nI hope this message finds you well. My name is Ananya Reddy, and I am currently pursuing my B.Tech. I am writing to express my interest in the Frontend Developer Internship position at your company.\\n\\nI'm learning HTML, CSS, and JavaScript, and I’m excited to build web apps and strengthen my development skills. Although I have about 0.5 years of hands-on practice, I am eager to contribute, learn, and grow in a real-world development environment.\\n\\nThank you for considering my application. I look forward to the opportunity to contribute and learn as part of your team.\\n\\nBest regards,\\nAnanya Reddy\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -104,
        160
      ],
      "id": "b059be64-078d-4eba-bd63-1362e00e572e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output.to }}",
        "subject": "=Auto Internship Message: {{ $json.output.subject }}",
        "message": "={{ $json.output.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        112,
        -64
      ],
      "id": "aebfb0f8-a5da-4978-b841-232b788000d8",
      "name": "Send a message1",
      "webhookId": "6ea86514-5987-4792-9dbc-4dbd8552f31a",
      "credentials": {
        "gmailOAuth2": {
          "id": "3dIj3QBGVymapBfJ",
          "name": "Gmail account 1930"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Internship Feeder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Internship Feeder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Internship Feeder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Internship Feeder": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97915aa1-b287-46e8-b154-a9e844be926e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "a7xONb3YcikTD9qS",
  "tags": []
}